<!DOCTYPE html>
<html>
    <head>
        <title>Node Authentication</title>

    </head>
</html>
    

<body>
    <div class="container">

        <h1><span class="fa fa-lock"></span>Node Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/auth/facebook" class="btn btn-primary"> <span class=" </a> "
    </div>
</body>
</html>